<%# Displays list of @events %>
<% @events.each do |event| %>
  <div id="div_event_<%= event.id %>">
    <%= render :partial=>"show", :locals=>{:event=>event} %>
  </div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @events.blank? %>

<%= theme_paginate(@events) %>
