<%= clear_tag(30) %>

<%# Renders a partial to display all the events %>
<div class="row">
  <div id="div_event_details" class="col-sm-6">
    <%= image_tag "advertisement#{[1,2,3,1,2,3,1,2,3,1,2,3].sample}.png", width: "100%" %>
    <div class="visible-xs cl-10"></div>
  </div>

  <div id="div_event_index" class="col-sm-6">
    <%= render :partial=>"index" %>
  </div>
</div>

<%= clear_tag(30) %>