<%= link_to image_tag("footer-temp.png", width: "100%"), "http://www.qwinixtech.com/careers", target: "_blank" %>

<!-- <div class="row footer">
  <div class="col-md-12 text-center mt-15">
    © 2015 <a href="http://qwinixtech.com">Qwinix Technologies (P) Ltd.</a>
  </div>
</div> -->
