<header class="navbar navbar-fixed-top bs-docs-nav">
  <!-- Second Header-->
  <div role="navigation" class="navbar navbar-default">
    <div class="container-fluid tab-padding">
      <div itemscope="" itemtype="http://schema.org/Organization" class="navbar-header">
        <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><span itemprop="logo"><img src="http://www.qwinixtech.com/wp-content/themes/themeqwinix1.6/img/qwinix_logo_small.png" alt="Logo of Qwinix Technologies" class="logo-size"></span></a>
      </div>

      <div class="collapse navbar-collapse  nav-right-padding">
       <div class="menu-header-menu-container"><ul id="menu-header-menu" class="nav navbar-nav navbar-padding"><li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="http://www.qwinixtech.com/process/">PROCESS</a></li>
        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-21"><a href="http://www.qwinixtech.com/services/">SERVICES</a>
          <ul class="sub-menu">
            <li id="menu-item-462" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-462"><a href="http://www.qwinixtech.com/services/web-application-development/">WEB APPLICATIONS</a></li>
            <li id="menu-item-461" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-461"><a href="http://www.qwinixtech.com/services/mobile-software-development/">MOBILE SOFTWARE</a></li>
            <li id="menu-item-460" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-460"><a href="http://www.qwinixtech.com/services/devops/">DEVOPS</a></li>
            <li id="menu-item-459" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-459"><a href="http://www.qwinixtech.com/services/cloud-services-migration/">CLOUD SERVICES</a></li>
            <li id="menu-item-458" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-458"><a href="http://www.qwinixtech.com/services/agile-software-development/">AGILE DEVELOPMENT</a></li>
          </ul>
        </li>
        <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-18"><a href="http://www.qwinixtech.com/careers/">CAREERS</a>
          <ul class="sub-menu">
            <li id="menu-item-259" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-259"><a href="http://www.qwinixtech.com/careers/project-management/">PROJECT MANAGEMENT</a></li>
            <li id="menu-item-261" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-261"><a href="http://www.qwinixtech.com/careers/engineering/">ENGINEERING</a></li>
            <li id="menu-item-260" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-260"><a href="http://www.qwinixtech.com/careers/operations/">OPERATIONS</a></li>
            <li id="menu-item-258" class="sub menu-item menu-item-type-post_type menu-item-object-page menu-item-258"><a href="http://www.qwinixtech.com/careers/open-positions/">OPEN POSITIONS</a></li>
          </ul>
        </li>
        <li id="menu-item-17" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17"><a href="http://www.qwinixtech.com/contact-us/">CONTACT US</a></li>
        <li id="menu-item-501" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-501"><a href="http://www.qwinixtech.com/blog/">BLOG</a></li>
      </ul></div>                    <ul class="nav navbar-nav navbar-right navbar-padding-tab navbar-padding-right hidden-sm">
      <!--<li><a href="mailto:info@qwinixtech.com"><span class="icons-mail"></span>&nbsp;info@qwinixtech.com</a></li>-->
      <li class="phone-num-tab-margin"><a href="/careers/open-positions" class="swing"><img src="http://www.qwinixtech.com/wp-content/themes/themeqwinix1.6/img/icon-openpositions.png" alt="open positions"></a></li>
      <li class="phone-num-tab-margin"><a><span class="icons-phone"></span>&nbsp;303-459-4310</a></li>
    </ul>
    <!-- Tablet View -->
    <div class="text-right swing visible-sm opening-tab-margin"> <a href="/careers/open-positions" class="swing"><img src="http://www.qwinixtech.com/wp-content/themes/themeqwinix1.6/img/icon-openpositions.png" alt="open positions"></a></div>
    <div class="text-right visible-sm phone-num-tab"><a><span class="icons-phone"> </span>&nbsp;303-459-4310</a> </div>
    <!-- End Tablet View -->
  </div>
</div>
</div>
</header>