Welcome !!!
<div class="row">
	<div class="col-md-6">
		<%#* Display Projects -%>
    	<%#= render :partial=>"user/dashboard/widgets/projects" -%>
	</div>
	<div class="col-md-6">
		<%#* Display Tickets -%>
    	<%#= render :partial=>"user/dashboard/widgets/tickets" -%>
	</div>
</div>