<%= theme_heading("Qwinix Careers ")%>
<!-- Home page Navigation-->
<!--<a id="opportunities-list-nav-prev" class="card-carousel-navigation-prev" href="#"><i class="fa fa-angle-left"></i></a>
<a id="opportunities-list-nav-next" class="card-carousel-navigation-next" href="#"><i class="fa fa-angle-right"></i></a>-->
<!-- Home page Navigation-->

<div id="carousel">
	<%= image_tag "advertisement1.png" %>
	<%= image_tag "advertisement2.png" %>
	<%= image_tag "advertisement3.png" %>
</div>