<% roles = @current_user.non_admin_roles %>

<div class="panel panel-archon">
	<div class="panel-heading">
		<h3 class="panel-title">Projects
			<span class="pull-right">
				<a href="#" class="panel-minimize"><i class="fa fa-chevron-up"></i></a>
				<a href="#" class="panel-settings"><i class="fa fa-cog"></i></a>
				<a href="#" class="panel-close"><i class="fa fa-times"></i></a>
			</span>
		</h3>
	</div>
	<div class="panel-body">
		<table class="table users-table table-condensed table-hover ">
			<thead>
				<tr>
					<th class="visible-lg">&nbsp;</th>
					<th class="visible-lg">&nbsp;</th>
					<th>Name</th>
					<th class="visible-lg">Client</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>

				<% if roles.any? %>
			      <% roles.each_with_index do |role, i| %>
			        <% project = role.resource %>

			        <tr>
						<td class="visible-lg"><%= i+1 %></td>
						<td>
							<%#= link_to display_image(project, :logo, "50px"), project_dashboard_path(pretty_url: project.pretty_url) %>
							<%= link_to display_image(project, "logo.image.url",
                        width: "50px",
                        place_holder: {width: 50, height: 50, text: "<No Image>"}
                        ), project_dashboard_path(pretty_url: project.pretty_url) %>
						</td>
						<td class="visible-lg"><%= link_to project.name, project_dashboard_path(pretty_url: project.pretty_url) %> </td>
						<td class="visible-lg"><%= project.client.name if project.client %> </td>
						<td>
							<button type="button" class="btn btn-success"><i class="fa fa-envelope"></i></button>
							<button type="button" class="btn btn-info"><i class="fa fa-eye"></i></button>
							<button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
						</td>
					</tr>

			      <% end %>
			    <% else %>
			    	<tr>
						<td colspan="5" class="visible-lg text-align-center text-color-gray fs-11">You are not a part of any project.</td>
					</tr>
			    <% end %>

			</tbody>
		</table>
	</div>
</div>