<div class="panel panel-archon">
	<div class="panel-heading">
		<h3 class="panel-title">
			Tickets Summary
		</h3>
	</div>
	<div class="panel-body">
		<table class="table  table-hover">
			<tbody><tr class="active"><td><a href="#">All Open Tickets</a></td><td>2323</td></tr>
			<tr class="danger"><td>My unsolved tickets</td><td>1421</td></tr>
			<tr class="warning"><td>All unsolved tickets</td><td>15421</td></tr>
			<tr class="success"><td>Recently updated tickets</td><td>137</td></tr>
			<tr><td>New tickets in your groups</td><td>1342</td></tr>
			<tr class="warning"><td>Pending tickets</td><td>13421</td></tr>
			<tr class="success"><td>Recently solved tickets</td><td>1156</td></tr>
			<tr><td>Unsolved tickets in your groups</td><td>13456</td></tr>
		</tbody></table>
	</div>
</div>